@if(flashMessage('notification'))
<script>
    require(['main'], function () {
        require(['semantic', 'swal'], function (semantic, swal) {
            swal("{{{ flashMessage('notification.title') }}}", "{{{ flashMessage('notification.message') }}}", "{{{ flashMessage('notification.type') }}}");
        })
    })
</script>
@endif
